In [62]:
#imports
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import requests
import numpy as np
from nltk import bigrams, trigrams

In [93]:
with open('online_tech_list.txt', 'r', encoding="utf8") as f:
     LoTechs = [i.rstrip() for i in f.readlines()]

In [94]:
LoTechs

['Accord.NET',
 'Adobe Analytics',
 'Alation',
 'Alex',
 'Apache Spark',
 'Apache Storm',
 'AWS',
 'Amazon Web Services',
 'Azure',
 'BigQuery',
 'C#',
 'C++',
 'Collibra',
 'D3.js',
 'Data Catalog',
 'Databricks',
 'DAX',
 'Dynamics',
 'Erwin',
 'Fivetran',
 'Github',
 'Google Analytics',
 'Google Cloud Platform',
 'GCP',
 'Google Data Studio',
 'Hadoop',
 'Hive',
 'IBM',
 'Informatica',
 'Java',
 'JavaScript',
 'Jenkins',
 'Jira',
 'JSON',
 'Jupyter',
 'Kafka',
 'Keras',
 'Linux',
 'Looker',
 'LookML',
 'Matillion',
 'MATLAB',
 'MongoDB',
 '.NET',
 'Node.js',
 'NumPy',
 'OneTrust',
 'Oracle',
 'Power BI',
 'Power Platform',
 'Python',
 'R',
 'Redshift',
 'Ruby',
 'Salesforce',
 'SAP',
 'SASS',
 'Selenium',
 'Sisense',
 'Snowflake',
 'Splunk',
 'SPSS',
 'SQL',
 'SSIS',
 'SSRS',
 'Stitch',
 'Synapse',
 'Tableau',
 'Talend',
 'TensorFlow',
 'TIBCO',
 'Thoughtspot',
 'Weka',
 'Theano',
 'XML',
 'Torch',
 'SciPy',
 'DBT',
 'Qlik',
 'Zoho']

In [12]:
def usa_jobs(keyword):
    p=1
    title =[]
    organisation =[]
    qualification_sum = []
    job_description = []
    publication_start_date=[]
    for i in range(100):
        url = f'https://data.usajobs.gov/api/search?keyword={keyword}&ResultsPerPage=500&Page={p}'
        usajobs = requests.get(url, headers={"Authorization-Key": 'qfyR66PP27JaherkH3aCQ5n1d8tCo1SJnOYoKH/feN4='})
        usajobs_data = usajobs.json()
        x=int(len(usajobs_data['SearchResult']['SearchResultItems']))
        if x != 0:
            for i in range(x):
                    title.append((usajobs_data['SearchResult']['SearchResultItems'][i]['MatchedObjectDescriptor']['PositionTitle']))
                    organisation.append((usajobs_data['SearchResult']['SearchResultItems'][i]['MatchedObjectDescriptor']['OrganizationName']))
                    job_description.append((usajobs_data['SearchResult']['SearchResultItems'][i]['MatchedObjectDescriptor']['UserArea']['Details']['JobSummary']))
                    qualification_sum.append((usajobs_data['SearchResult']['SearchResultItems'][i]['MatchedObjectDescriptor']['QualificationSummary']))
                    publication_start_date.append((usajobs_data['SearchResult']['SearchResultItems'][i]['MatchedObjectDescriptor']['PublicationStartDate']))

        else:
            break
        p+=1
    df = pd.DataFrame(list(zip(title, organisation,job_description,qualification_sum,publication_start_date )),
                columns =['Title', 'Company Name', 'Job Description','Qualification Sum','Publication Start Date'])
    return(df)

In [186]:
test_API_jobs = usa_jobs('data')

In [204]:
test_API_jobs

,Title,Company Name,Job Description,Qualification Sum,Publication Start Date
0,DATA SCIENTIST,Secretary of the Navy Offices (SECNAV),This is a public notice flyer to notify intere...,In addition to the basic educational requireme...,2022-09-29T00:00:00.0000
1,Data Scientist,Veterans Health Administration,The purpose of this position is to provide pro...,Duties continued: Consulting on AI application...,2022-09-28T00:00:00.0000
2,DATA SCIENTIST,Naval Facilities Engineering Command,You will serve as a DATA SCIENTIST in the BUSI...,In addition to the Basic Requirements for this...,2022-10-03T00:00:00.0000
3,Data Scientist,Office of Human Resources Management,"As a Data Scientist, you will serve as a subje...","For each job on your resume, provide: the exac...",2022-09-22T00:00:00.0000
4,Data Scientist,Office of Human Resources Management,"As a Data Scientist, you will serve as a subje...","For each job on your resume, provide: the exac...",2022-09-22T00:00:00.0000
...,...,...,...,...,...
9995,PATENT ATTORNEY,Bureau of Naval Personnel,This is a public notice flyer to notify intere...,The Navy and Marine Corps team offers innovati...,2022-09-23T14:13:55.6930
9996,LEAD MEDICAL SUPPORT ASSISTANT,Veterans Health Administration,The candidate selected for this position will ...,"To qualify for this position, applicants must ...",2022-09-23T14:28:20.7700
9997,LEAD MEDICAL SUPPORT ASSISTANT,Veterans Health Administration,The candidate selected for this position will ...,"To qualify for this position, applicants must ...",2022-09-23T14:27:36.2300
9998,Procurement Clerk,Veterans Health Administration,This position will review prescriptions and pr...,"To qualify for this position, applicants must ...",2022-09-23T00:00:00.0000
9999,Administrative Officer (Sterile Processing Ser...,Veterans Health Administration,The Administrative Officer (AO) reports direct...,"To qualify for this position, applicants must ...",2022-09-26T10:23:14.5400

Technology Counter

In [2]:
nltk.download(["punkt"])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\GeorgeHutchinson\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [178]:
lotechs = [i.lower().split(' ') for i in LoTechs]

In [179]:
lotechs

[['accord.net'],
 ['adobe', 'analytics'],
 ['alation'],
 ['alex'],
 ['apache', 'spark'],
 ['apache', 'storm'],
 ['aws'],
 ['amazon', 'web', 'services'],
 ['azure'],
 ['bigquery'],
 ['c#'],
 ['c++'],
 ['collibra'],
 ['d3.js'],
 ['data', 'catalog'],
 ['databricks'],
 ['dax'],
 ['dynamics'],
 ['erwin'],
 ['fivetran'],
 ['github'],
 ['google', 'analytics'],
 ['google', 'cloud', 'platform'],
 ['gcp'],
 ['google', 'data', 'studio'],
 ['hadoop'],
 ['hive'],
 ['ibm'],
 ['informatica'],
 ['java'],
 ['javascript'],
 ['jenkins'],
 ['jira'],
 ['json'],
 ['jupyter'],
 ['kafka'],
 ['keras'],
 ['linux'],
 ['looker'],
 ['lookml'],
 ['matillion'],
 ['matlab'],
 ['mongodb'],
 ['.net'],
 ['node.js'],
 ['numpy'],
 ['onetrust'],
 ['oracle'],
 ['power', 'bi'],
 ['power', 'platform'],
 ['python'],
 ['r'],
 ['redshift'],
 ['ruby'],
 ['salesforce'],
 ['sap'],
 ['sass'],
 ['selenium'],
 ['sisense'],
 ['snowflake'],
 ['splunk'],
 ['spss'],
 ['sql'],
 ['ssis'],
 ['ssrs'],
 ['stitch'],
 ['synapse'],
 ['tableau'],
 ['talend'],
 ['tensorflow'],
 ['tibco'],
 ['thoughtspot'],
 ['weka'],
 ['theano'],
 ['xml'],
 ['torch'],
 ['scipy'],
 ['dbt'],
 ['qlik'],
 ['zoho']]

In [199]:
def techno_wordcount(df):
    # Using os.listdir to create a list of all of the files in dir
    LoJobs = df['Job Description'].tolist()
    LoSkills = df['Qualification Sum'].tolist()
    LoCompanies = df['Company Name'].tolist()
    LoDates = df['Publication Start Date'].tolist()
    LoCountedTechs = []
    
    for i in range(len(LoJobs)):
        DoTechs = {}
        txt1 = word_tokenize(LoJobs[i])
        txt1 = [i.lower() for i in txt1]
        txt2 = word_tokenize(LoSkills[i])
        txt2 = [i.lower() for i in txt2]
        txt = txt1 + txt2
        for word in txt:
            if [word] in lotechs:
                DoTechs[word] = DoTechs.get(word,0) + 1
        for bi in bigrams(txt):
            k = list(bi)
            if k in lotechs:
                 DoTechs[bi] = DoTechs.get(bi,0) + 1
        for tri in trigrams(txt):
            j = list(tri)
            if j in lotechs:
                DoTechs[tri] = DoTechs.get(tri,0) + 1
        if len(DoTechs) != 0:
            LoCountedTechs.append(DoTechs)
        else:
            LoCountedTechs.append(np.nan)


    res_df = pd.DataFrame(list(zip(LoCompanies, LoDates, LoCountedTechs)),
               columns =['Company', 'Date', 'CountedTechs'])
            
    return res_df

In [158]:
# test cell for trigrams
test_API_jobs = pd.DataFrame([['Amazon', '12-08-1993', ' experience with amazon web services is desirable', 'GCSE']], columns = ['Company Name','Publication Start Date','Job Description', 'Qualification Sum'])

In [200]:
output_df = techno_wordcount(test_API_jobs)

In [201]:
output_df

,Company,Date,CountedTechs
0,Secretary of the Navy Offices (SECNAV),2022-09-29T00:00:00.0000,NaN
1,Veterans Health Administration,2022-09-28T00:00:00.0000,NaN
2,Naval Facilities Engineering Command,2022-10-03T00:00:00.0000,NaN
3,Office of Human Resources Management,2022-09-22T00:00:00.0000,NaN
4,Office of Human Resources Management,2022-09-22T00:00:00.0000,NaN
...,...,...,...
9995,Bureau of Naval Personnel,2022-09-23T14:13:55.6930,NaN
9996,Veterans Health Administration,2022-09-23T14:28:20.7700,NaN
9997,Veterans Health Administration,2022-09-23T14:27:36.2300,NaN
9998,Veterans Health Administration,2022-09-23T00:00:00.0000,NaN
9999,Veterans Health Administration,2022-09-26T10:23:14.5400,NaN

In [202]:
useful_output_df = output_df.dropna()

In [203]:
useful_output_df

,Company,Date,CountedTechs
5,Department of Energy - Agency Wide,2022-08-16T14:08:32.7570,"{'r': 2, 'python': 2}"
6,Department of Energy - Agency Wide,2022-08-16T14:11:48.3070,"{'r': 2, 'python': 2}"
7,Office of the Inspector General,2022-10-03T00:00:00.0000,"{'r': 4, 'python': 4}"
13,Federal Aviation Administration,2022-09-27T00:00:00.0000,"{'python': 1, 'r': 1}"
14,Federal Aviation Administration,2022-09-27T00:00:00.0000,"{'python': 1, 'r': 1}"
...,...,...,...
9907,Veterans Health Administration,2022-09-30T00:00:00.0000,{'r': 1}
9909,Veterans Health Administration,2022-09-30T10:13:09.7500,{'r': 1}
9919,U.S. Army Corps of Engineers,2022-02-10T00:00:00.0000,{'dynamics': 1}
9928,U.S. Army Corps of Engineers,2022-05-05T00:00:00.0000,{'dynamics': 1}
9954,U.S. Army Corps of Engineers,2022-09-19T00:00:00.0000,{'dynamics': 1}

Get more hits using .lower() - keeping for now
Including bigrams and trigrams increases runtime